jupyter-tikz @ git+https://github.com/ea42gh/jupyter-tikz.git@83ef5874089f42e6fe5b3b1395ebcc515ee0f2a2
matrixlayout[render] @ git+https://github.com/ea42gh/matrixlayout.git@e3c0153aede5013827f55fd9cff7e4ec34520612
-e .
ipython
ipykernel
nbconvert
numpy>=2,<3
sympy>=1.12
